{% extends 'quest/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="bottom-border mb4">Questions</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-default" type="Submit">Save</button>
			</div>
		</form>
		<br>
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}