{% extends 'quest/base.html' %}
{% block content %}
	<ul class="list-group">
		<li class="list-group-item">Please read the following carefully, this is important.</li>
		<li class="list-group-item">Admin is god.</li>
		<li class="list-group-item">Please register using your real name and email, sketchy users will be deleted without notice.</li>
		<li class="list-group-item">All answers should be entered in lowercase alphanumeric characters, without spaces and punctuation.</li>
		<li class="list-group-item">Each question carries 1000 points.</li>
		<li class="list-group-item">You can't proceed to next question until you answer the current one.</li>
		<li class="list-group-item">You are free to search the web, scan our source code, play around with URLs. There are no limitations except for the next rule.</li>
		<li class="list-group-item"><strong>Cheating in any form will result in a premanent ban.</strong> Sharing of answers is deamed as cheating. We are watching your every move and any suspicious activity will lead to disqualification.</li>
		<li class="list-group-item">Answer to first question is a simple "yes" or "no".</li>
		<li class="list-group-item">To get informed about the new questions, like and visit the following <a href="" target="_default">page</a></li>
	</ul>
{% endblock %}